body {
	background: url(../images/login_bg.jpg) repeat-x scroll;
	font-size:12px;
}
#login_bg{
	background: url(../images/login_bg2.png) no-repeat scroll 0 0 transparent;
	height:320px;
	width:985px;
	position:absolute;   
	top:50%;   
	left:50%;
	margin:-200px 0 0 -490px; 
}
#login_bg1{
	background:url(../images/login.png) no-repeat scroll 0 0 transparent;
	height:365px;
	width:550px;
	position:absolute;
	top:50%;   
	left:50%;
	margin:-230px 0 0 -75px;
}
#login_content{
	height:150px;
	width: 420px;
	position:absolute;  
	left:50%;
	margin:180px 0 0 -85px;
}

#login_content ul{
	list-style:none;
	width: 320px;
}
#login_content ul li{
	height:30px;
}
.loginTxt{
	font-weight: bold;
	font-family:"宋体";
	font-size:18px;
	color:#3f70bf;
}
.inputTxt{
	height:20px;
	width:180px;
}
.loginBtn{
	padding-left:40px;
	padding-top:10px; 
}
.submit{
	background:url(../images/loginBtn.jpg) no-repeat scroll 0 0 transparent;
	width:60px; 
	height:22px;
	border:none;	 
}
.reset{
	margin-left:30px;
	background:url(../images/resetBtn.jpg) no-repeat scroll 0 0 transparent;
	width:60px; 
	height:22px;
	border:none;
}